* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, .h1 {
    font-size: 2.986rem;
    margin-bottom: 1.5rem;
}

h2, .h2 {
    font-size: 2.488rem;
}

h3, .h3 {
    font-size: 2.074rem;
}
h4, .h4{
    font-size: 1.738rem;
}

h5, .h5 {
    font-size: 1.44rem;

}

h6, .h6 {
    font-size: 1.2rem;
}

p, .p {
    font-size: 1rem;
    color: rgb(87, 84, 84);
    line-height: 170%;
    

}

.price {
    display: inline-block;
    margin-bottom: 1rem;
    color: grey;
}

header {
    border-bottom: 1px solid black;
    height: 5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .container {

    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "Poppins", sans-serif;
}

#logo,h1,h2,h3,h4,h5,h6 {
    font-family: "Lora", serif;
}

#logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

header ul {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: rgb(105, 102, 102);
}

.iconLinks {

    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    
}

.iconLinks a {
    text-decoration: none;
    color: black;
}

section {

    padding-top: 4rem;
    padding-bottom: 4rem;
    
}

#section1 .container {

    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4rem;
    
}

#images {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;

}

#images img {
    width: 100%;
    height: 100%;
    

}

#image1 {

    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image2 {

    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#image3 {

    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#image4 {

    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}

#mainImage {

    grid-row-start: 1;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
}

.varients {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.5rem;

}

.varient img {

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.button{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
text-decoration: none;
border-radius: 0.25rem;
padding: 0.5rem 1rem ;
border: none;



}
.buttonPrimary {
    
    background-color: black;
    color: white;
    
    
    
}

.buttonSecondary {
    
   width: 100%;
   background-color: white;
   color: black;
   border: 1px solid black;
}

.buttonHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
     gap: 0.5rem;
    margin-top: 3rem;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

.product {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.5rem;
}
.product img {
    width: 100%;
   
}

.priceAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productDetails {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem; 
    
}